# Terraform 관련 무시할 파일들
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# 대용량 파일 패턴
*.zip
*.tar.gz
*.exe
*.dmg
*.pkg

# 특정 크기 이상 파일들 (파일명으로 직접 지정)
large-file.bin
data/
logs/
